* {
    border: 0;
    margin: 0px;
    padding: 0px;
  }
  
  html {
    width: 100%;
    background-color: beige;
  }
  
  header {
    background-image: url("images/abstract.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
  }
  
  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-logo a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 200px;
    flex-direction: row;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    text-transform: lowercase;
    font-size: 1.8rem;
    color: #bb1188;
    text-decoration: none;
  }
  
  .navbar-logo img {
    margin-right: 0.5rem;
    padding: 0.5rem;
    width: 60px;
    height: auto;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: #aa5390;

  }
  
  .navbar-item a {
    color: rgb(184, 99, 99);
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.4rem;
    font-size: 0.8rem;
  }
  
  .navbar-item.active a {
    color: #bb119f;
  }
  
  .container {
    margin: 0px auto;
    max-width: 960px;
  }
  
  section {
    width: 100%;
  }
  .about-me {
    height: 45vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  
  .about-me-body {
    max-width: 790px;
    color: rgb(100, 98, 98);
    text-align: center;
  }
  /*
  hr {
    width: 50px;
    border: none;
    height: 1px;
    background-color: rgb(100, 98, 98);
    margin: 0px auto;
  } 
  */
  .about-me-body h1 {
    font-family: "Playfair Display", serif;
    font-weight: 900;
    color: #bb119f;
    margin: 1.5rem 0;
    font-size: 2rem;
  }
  
  .about-me-body p {
    color: rgb(100, 98, 98);
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    margin: 1.5rem 0.75rem;
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
  
  .button {
    border: 1px solid #bb119f;
    color: #bb119f;
    font-family: "Hammersmith One", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0.75rem 1rem;
    font-size: 1rem;
  }
  
  .button.is-primary {
    background-color: transparent;
  }
  
  
  .project-item {
    padding: 1rem;
    display: grid;
    justify-items: center;
    text-align: center;
    -ms-grid-rows: minmax(8.5rem, 1fr) minmax(5rem, max-content) min-content;
    grid-template-rows: minmax(8.5rem, 1fr) minmax(5rem, -webkit-max-content) -webkit-min-content;
    grid-template-rows: minmax(8.5rem, 1fr) minmax(5rem, max-content) min-content;

  }

  .project-title {
    color: #bb119f;
    font-family: "Hammersmith One", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    padding: 1.5rem;
  }
  .project-desc {
    font-weight: 400;
    word-spacing: 2px;
    padding: 0;
    margin: 0;

  }

  #bestWorks {
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
.container2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  margin-top: 6px;
  padding: 3rem;
  align-items: center;
}
.project-item img{
  width: 25rem;
  height: auto;
  align-items: center;
}
.heading-sub {
  color: #413d4b;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin-bottom: 0rem;
  font-size: 1rem;
}
footer {
  background-image: url("images/abstract.png");
  background-size: cover;
  background-position: center;
  padding:2rem 0;
  margin: auto;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 2rem;
}

.footer-container .column {
  display: flex;
  flex-direction: column;
  width: 33.3%;
  justify-content: space-between;
}

.footer-nav {
  list-style: None;
  display: flex;
  justify-content: space-between;
  padding: 0%;
}

.footer-title {
  height: 10vh;
}

.footer-title p {
  float: left;
  max-height: fit-content;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: xx-large;
}

#footer-link {
  color: white;
}

#footer-logo {
  height: fit-content;
  padding: auto;
}

#footer-h3 {
  padding-left: 15%;
  display: flex;
  margin-left: 0%;
  justify-content: flex-start;
}
input[type="text"] {
  width: 75%;
  padding: 12px; 
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}